.botonDepo {
    width: 250px;
    margin-top: 25px;
    margin: 5px;
    border: none;
    background: rgb(100, 200, 255);
    cursor: pointer;
    text-decoration: none;
}

.botonDepo:hover {
    transform: scale(1.25);
    background: rgb(250, 200, 255);
}

